<section class="flex-1 px-0 py-8 md:px-5">
    <div class="mx-auto max-w-6xl space-y-8 px-4 py-8 md:px-6">
        <div class="flex flex-row justify-between items-center">
            <div class="flex flex-row items-center gap-4 ">
                <div class="text-primary">
                    <ng-icon name="lucideStars" size="28"></ng-icon>
                </div>
                <h1 class="text-3xl font-bold md:text-4xl">Featured Projects</h1>
            </div>
            <route-link content="see all" url="/projects" />
        </div>

        @if (userInfo.result$ | async; as result) {
            @if (result.isLoading) {
            <div class="flex flex-row items-center gap-2">
                <ng-icon name="lucideLoader2" class="animate-spin" size="16"></ng-icon>
                <p>Loading projects..</p>
            </div>
            }

            @if (result.isError) {
            <p>Oops! seems like I should put the fries in the bag :(</p>
            }

            @if (result.data && result.data.repos) {
            <div class="w-full grid grid-cols-1 sm:grid-cols-2 gap-4">
                @for (repo of result.data.repos; track repo.id) {
                    @if (featuredProjects.includes(repo.name)) {
                        <app-project-card [project]="mapRepoToProject(repo)"></app-project-card>
                    }    
                }
            </div>
            }
        }

    </div>
</section>